extends layout

block content
  br
  br
  br
  br
  br
  div.text-center 
    iframe#gameframe(
      src="https://5dd312fa-015f-11ea-ad56-9cb6d0d995f7.poki-gdn.com/0e0ff019-bad9-4472-8d1e-47eda2be21f1/poki-savegame-import.html?previous=https%3A%2F%2F5dd312fa-015f-11ea-ad56-9cb6d0d995f7.poki-gdn.com%2Fba00168a-b3e2-4f2c-b0e3-7004b6a47869&unity-only&next=https%3A%2F%2F5dd312fa-015f-11ea-ad56-9cb6d0d995f7.poki-gdn.com%2F0e0ff019-bad9-4472-8d1e-47eda2be21f1%2Findex.html%3Fcountry%3DIN%26ccpaApplies%3D0%26url_referrer%3Dhttps%253A%252F%252Fpoki.com%252F&tag=pg-v3.135.0&site_id=3&iso_lang=en&poki_url=https%253A%252F%252Fpoki.com%252Fen%252Fg%252Fsubway-surfers&gdhoist=yes&nonPersonalized=n&familyFriendly=n&categories=3%2C4%2C6%2C9%2C86%2C88%2C93%2C96%2C103%2C903%2C929%2C1103%2C1126%2C1137%2C1140%2C1143%2C1147%2C1156%2C1159%2C1160%2C1163%2C1179%2C1185&experiment=control-9c9a18bd&special_condition=landing&game_id=5dd312fa-015f-11ea-ad56-9cb6d0d995f7&game_version_id=0e0ff019-bad9-4472-8d1e-47eda2be21f1"
      allow="autoplay; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write; web-share"
      scrolling="no"
      style="width:1000px; height: 500px;"
    )