extends layout

block content
  br
  br
  .va(style="vertical-align: middle; padding: 1.33vw 8.25vw;")
    .ImageComponent(style="background-size: contain; background-repeat: no-repeat; margin-left: 0px; margin-top: 0px; width: 592px; height: 592px; transform: translate(0px, 0px); margin-bottom: 0px; background-image: url('https://subwaysurfers.com/media/bz3bc0se/chicago_train_start.png?width=512')")
    h2.TitleComponent.fluidSize NEW SEASON: CHICAGO
    p.ParagraphComponent(style="column-count: 1.") Version 3.11.0
    p.ParagraphComponent(style="column-count: 1.") (April 24th - May 14th, 2023)
    p.ParagraphComponent(style="column-count: 1.") The Subway Surfers World is having a FANtastic time in Chicago — thank you Logan for the awesome design of Spraybot and don’t forget to check out Cleo’s new Heart Breaker Outfit and the Tagger Board!
    h2.TitleComponent.fluidSize Fresh Content
    p.ParagraphComponent(style="column-count: 1.") • b New Character — Spraybot b
    .ImageComponent(style="background-size: contain; background-repeat: no-repeat; margin-left: 148px; margin-top: 0px; width: 296px; height: 565px; transform: translate(0px, 0px); margin-bottom: 0px; background-image: url('https://subwaysurfers.com/media/ywgd0rw3/spraybot.png?width=448')")
    p.ParagraphComponent(style="column-count: 1.")
      b Dev Comment: b
      i "Sometimes ago, we got the sweetest letter from a very young fan -Logan, 6 years old, future character design to be. His design was so fantastic that we just couldn't pass it. So please welcome the coolest addition to the robot crew, the Jazzy, swingy, flashy Spraybot!"
    .ImageComponent(style="background-size: contain; background-repeat: no-repeat; margin-left: 148px; margin-top: 0px; width: 296px; height: 395px; transform: translate(0px, 0px); margin-bottom: 0px; background-image: url('https://subwaysurfers.com/media/q2xfr3kc/sprayconcept.png?width=448')")
    p.ParagraphComponent(style="column-count: 1.") • b New Outfit — Cleo b
    .ImageComponent(style="background-size: contain; background-repeat: no-repeat; margin-left: 148px; margin-top: 0px; width: 296px; height: 650px; transform: translate(0px, 0px); margin-bottom: 0px; background-image: url('https://subwaysurfers.com/media/mwljvppo/heartbreaker_01.png?width=410')")
    p.ParagraphComponent(style="column-count: 1.") • b New Board — Tagger b
    .ImageComponent(style="background-size: contain; background-repeat: no-repeat; margin-left: 148px; margin-top: 0px; width: 296px; height: 381px; transform: translate(0px, 0px); margin-bottom: 0px; background-image: url('https://subwaysurfers.com/media/evsnkyrd/tagger_01.png?width=448')")
    h2.TitleComponent.fluidSize World Tour Events
    p.ParagraphComponent(style="column-count: 1.") • b Tag Time Attack — Cairo b
      i "Multiplier 6 required"
      br
      | Apr 24 - Apr 26
      br
      | Apr 28 - Apr 30
      br
      | May 02 - May 04
    p.ParagraphComponent(style="column-count: 1.") • b Hoverboard Challenge — Oxford b
      i "Multiplier 6 required"
      br
      | Apr 25 - Apr 27
      br
      | Apr 29 - May 01
      br
      | May 03 - May 05
      br
      | May 07 - May 09
      br
      | May 11- May 13
    p.ParagraphComponent(style="column-count: 1.") • b Marathon — Tokyo b
      i "Multiplier 4 required"
      br
      | Apr 24 - May 14
    p.ParagraphComponent(style="column-count: 1.") • b Mystery Hurdles — Cairo b
      i "Multiplier 8 required"
      br
      | Apr 27 - Apr 29
      br
      | May 01 - May 03
      br
      | May 05 - May 07
      br
      | May 09 - May 11
      br
      | May 13 - May 14



